<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin login</title>
</head>
<body>
    <section>
        <div align="center">
            <h1>CURATOR/SUBMITTER LOGIN</h1>
            &nbsp;&nbsp;Profile:
            <select style="width:174px;height:21px">
                <option value="Curator" id="curator">Curator</option>
                <option value="Submitter" id="submitter">Submitter</option>
            </select><br><br>
            Email id:
            <input type="email" name="adminemail"><br><br>
            Password:
            <input type="password" name="adminpswd">
            <br><br>
            <input type="submit" name="adminsubmit" value="LOGIN">
        </div>
    </section>

</body>
</html>