<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New submitter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section>
        <div>
            <form  action = "{{ url_for('assign_newsubmittermethod') }}" method="post">
                <div align="right"><a href="{{url_for('logout')}}">Logout</a> </div>
                <h1 style="text-align:center">ASSIGN NEW SUBMITTER</h1>
                <div style="text-align:right;width:60%">
                    Name:
                    <input type="text"  name="nme"><br><br>
                    Email id:
                    <input type ="email" name="mail"><br><br>
                    Contact number:
                    <input type="number"  name="number"><br><br>
                    Designation:
                    <input type="text"  name="post"><br><br>
                    Role:
                    <input type="text" value="Submitter" name="role"readonly><br><br>
                    Password:
                    <input type="password" name="pswrd"><br><br>
                    Confirm Password:
                    <input type="password"  name="conpswrd"><br><br>

                </div>
                <div align="center">
                     <input type="submit" value="Submit" id="update">
                </div>
            </form>
        </div>
    </section>
</body>
</html>