//not using
{% extends 'masteroutlay_logout.html' %}
{% heading %}ASSIGN NEW SUBMITTER{% heading %}
        <div>
            <form  action = "{{ url_for('assign_newsubmittermethod') }}" method="post">
                <div>
                    Name:
                    <input type="text"  name="nme"><br><br>
                    Email id:
                    <input type ="email" name="mail"><br><br>
                    Contact number:
                    <input type="number"  name="number"><br><br>
                    Designation:
                    <input type="text"  name="post"><br><br>
                    Role:
                    <input type="text" value="Submitter" name="role"readonly><br><br>
                    Password:
                    <input type="password" name="pswrd"><br><br>
                    Confirm Password:
                    <input type="password"  name="conpswrd"><br><br>

                </div>
                <div>
                     <input type="submit" value="Submit" id="update">
                </div>
            </form>
        </div>