<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New submitter</title>
</head>
<body>
    <section>
        <div>
            <form  action = "{{ url_for('detail') }}" method="post">
                <h1 style="text-align:center">UPDATE PROFILE</h1>
                <div style="text-align:right;width:60%">
                    Name:
                    <input type="text"  name="nme"><br><br>
                    Email id:
                    <input type ="email" name="mail"><br><br>
                    Contact number:
                    <input type="number"  name="number"><br><br>
                    Designation:
                    <input type="text"  name="post"><br><br>
                    Role:
                    <input type="text" value="Submitter" name="role"readonly><br><br>
                    Password:
                    <input type="password" name="pswrd"><br><br>
                    Confirm Password:
                    <input type="password"  name="conpswrd"><br><br>

                </div>
                <div align="center">
                     <input type="submit" value="UPDATE" id="update">
                </div>
            </form>
        </div>
    </section>
</body>
</html>