<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CREATE MANAGER</title>

</head>
<body>
    <section>
        <div align="center">
            <h1>CREATE MANAGER</h1>
            Mailinglist:<br>
            <select style="width:310px;height:23px">
                <option value="developer">Developer</option>
                <option value="contentwriter">Content Writer</option>
                <option value="seo">SEO</option>
                <option value="dmm">DMM</option>
                <option value="ui">UI/UX</option>
                <option value="gd">Graphic Designer</option>
                <option value="db">Database</option>
            </select><br><br><br>
            Email:<br>
            <input type="email" name="email" size="40">
            <br><br><br>
            <input type="submit" value="CREATE" size="40">
        </div>


    </section>


</body>
</html>