<!DOCTYPE html>
{% extends 'masteroutlay_logout.html' %}
    {% block heading %}Suggestions for your Lists{% endblock %}
    {% block suggestions_table %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Suggestions</title>
    <style>
        th,td
        {
        padding:15px;
        text-align:left;
        }
        table tr:nth-child(even)
        {
        background-color: gainsboro;
        <!--#000000;-->
        }
        table tr:nth-child(odd)
        {
        background-color: lightsteelblue ;
        <!--#f3b01b;-->
        }
    </style>
</head>
<body>
            <form action="{{url_for('send_newsletterfromsuggestions')}}" method="post">
                <div style="margin-right:20px;">
                <table  style="width:100%">

                <tr>
                    <th></th>
                    <th>Suggestion ID</th>
                    <th>Submitter ID</th>
                    <th>List ID</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Description</th>

                </tr>
                {% for item in details %}
                <tr>
                    <td><input type="checkbox" name="selectedlists" value="{{item.list_id}}"></td>
                    <td>{{item.ss_id}}</td>
                    <td>{{item.user_id}}</td>
                    <td>{{item.list_id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.url}}</td>
                    <td>{{item.description}}</td>
                </tr>
                {% endfor %}
                </table>
                </div>

                <div class="clearfix"></div>
                <div class="btn-container">
                    <button type="button" onclick="history.go(-1)" class="btn btn-info btn-lg">Back</button>
                    <button type="submit" class="btn btn-info btn-lg">Send</button>
                </div>


            </form>
    </body>
</html>
{% endblock %}