<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news letter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section>

            <form action="" method="post">
                <div align="right"><a href="{{url_for('logout')}}">Logout</a> </div>
                <div style="margin-top:10%">
                    <div style="text-align:center">
                        Url:<input type="url" ><br><br><br>
                        List:
                        <select style="height:21px">
                            <option>Content writer</option>
                            <option>SEO</option>
                            <option>Developer</option>
                            <option>Graphic designer</option>
                            <option>UI/UX</option>
                            <option>Database</option>
                            <option>Digital marketing manager</option>
                        </select><br><br><br>
                    </div>
                    <div style="text-align:center">
                        <button type="button" onclick="history.go(-1)">Back</button>
                        <input type="submit" value="Send" ></input>
                    </div>
                </div>

            </form>


    </section>
</body>
</html>