<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <title>Curator Options</title>
</head>
<body>
    <section>
        <div align="right"><a href="">Logout</a> </div>
        <div style="width:60%;margin-top:10%;margin-left:30%">
            <div style="float:left;padding:5%">
                <a  href="" style="color:grey" > <i class="fa fa-user-circle-o fa-5x " aria-hidden="true" style="margin-left:20%" ></i><br>Assign new submitter</a>
            </div>
            <div style="float:left;padding:5%">
                <a href="updateprofile.html" style="color:grey"> <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true" style="margin-left:15%"  ></i><br>Update profile</a>
            </div>
            <div style="float:left;padding:5%">
                <a href="" style="color:grey"><i class="fa fa-envelope-square fa-5x" aria-hidden="true" style="margin-left:15%"></i><br>Send newsletter</a>
            </div>
        </div>
    </section>

</body>
</html>