<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

{% extends 'masteroutlay_logout.html' %}

        {% block heading %}Welcome {% for item in details %}{{item.user_name}}{% endfor %}{% endblock %}

    {% block curator_options %}
<div>
        <form style="margin-top: 30px;margin-bottom: 50px">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" style="background-color: black;padding-top: 10px">
                    <div class="col-sm-4"></div>
                    <!--image color #ff9613-->
                    <!--<div class="col-sm-4 corsoptions"><a  href="{{url_for('assign_newsubmitter')}}" style="color:#f3b01b;text-decoration: none;" > <i style="padding-left: 19px" class="fa fa-user-circle-o fa-5x " aria-hidden="true" ></i><br>Assign new submitter</a>-->
                    <div align="center" class="col-sm-4 corsoptions"><a  href="{{url_for('assign_newsubmitter')}}" style="color:#f3b01b;text-decoration: none;" > <i class="fa fa-user-circle-o fa-5x " style="padding-right: 18px" aria-hidden="true" ></i><br>Assign new submitter</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" style="background-color: black;">
                    <!--<div class="col-sm-4 corsoptions"><a href="{{url_for('detail')}}" style="color:#f3b01b;text-decoration: none;"> <i class="fa fa-pencil-square-o fa-5x" style="padding-left: 7px" aria-hidden="true"></i><br>Update profile</a>-->
                    <div align="center" class="col-sm-4 corsoptions"><a href="{{url_for('detail')}}" style="color:#f3b01b;text-decoration: none;"> <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i><br>Update profile</a>
                    </div>
                    <div class="col-sm-4"></div>
                    <!--<div class="col-sm-4 corsoptions"> <a href="{{url_for('send_newsletter')}}" style="color:#f3b01b;text-decoration: none;"><i class="fa fa-envelope-square fa-5x" style="padding-left: 57px" aria-hidden="true"></i><br><label style="display: block;text-align: right">Send newsletter</label></a>-->
                    <div align="center" class="col-sm-4 corsoptions"><a href="{{url_for('send_newsletter')}}" style="color:#f3b01b;text-decoration:none;"><i class="fa fa-envelope-square fa-5x" style="padding-right: 13px" aria-hidden="true"></i> <br>Send Newsletter</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" style="background-color: black;padding-bottom: 10px;">
                    <div class="col-sm-4"></div>
                    <!--<div class="col-sm-4 corsoptions"><a href="{{url_for('view_suggestions')}}" style="color:#f3b01b;text-decoration: none;"><i class="fa fa-eye fa-5x" style="padding-left: 10px" aria-hidden="true"></i><br>View Suggestions</a>-->
                    <div align="center" class="col-sm-4 corsoptions"><a href="{{url_for('view_suggestions')}}" style="color:#f3b01b;text-decoration: none;"><i class="fa fa-eye fa-5x" style="padding-right: 16px" aria-hidden="true"></i><br>View Suggestions</a>
                    </div>
                </div>
            </div>
        </form>
</div>
{% endblock %}