<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

{% extends 'masteroutlay_logout_image.html' %}
        {% block heading %}Select from the existing lists{% endblock %}
        {% block lists %}
            <div>
            <form action="{{url_for('view_subscribers')}}" method="post">
                <div class="row">
                    <div class="col-sm-7" style="margin-top:5%">
                        <div class="form-group col-sm-7 pull-left">
                            <label>List Name</label>
                            <select  name="lists" class="form-control">
                                <option value="Developer">Developer</option>
                                <option value="SEO">SEO</option>
                                <option value="DMM">DMM</option>
                                <option value="Content writer">Content writer</option>
                                <option value="UIUX">UI/UX</option>
                                <option value="GraphicDesigner">Graphic Designer</option>
                                <option value="Database">Database</option>
                                <option value="all">All</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <button type="button" onclick="history.go(-1)" class="btn btn-info btn-lg">Back</button>
                    <input type="submit" name="adminsubmit" value="Proceed" class="btn btn-info btn-lg">
                </div>
        {% endblock %}
