<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

{% extends 'masteroutlay_logout.html' %}

        {% block heading %}Existing lists{% endblock %}
        {% block lists %}
            <div>
            <form>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8" style="background-color: black;padding-top: 20px;padding-bottom: 20px">
                        <div class="col-sm-3"></div>
                        <!--image color #ff9613-->
                        <div align="center" class="col-sm-3 corsoptions"><a  href="" style="color:#f3b01b;text-decoration: none;" > <i class="fa fa-keyboard-o fa-5x " style="padding-right: 18px" aria-hidden="true" ></i><br>Developer</a>
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-sm-2"></div>-->
                    <!--<div class="col-sm-8" style="background-color: black;padding-top: 20px;padding-bottom: 20px">-->
                        <!--<div align="center" class="col-sm-4 corsoptions"><a  href="" style="color:#f3b01b;text-decoration: none;" > <i class="fa fa-pencil-square-o fa-5x " style="padding-right: 18px" aria-hidden="true" ></i><br>Content writer</a>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
        {% endblock %}
