<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
       <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--&lt;!&ndash; jQuery library &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>-->
    <!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <!--<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">-->
{% extends 'masteroutlay.html %}
   <div >

      <form action = "{{ url_for('login') }}" method = "post">
      USER ID:<input type="email" name="mail"/><br><br>
      PASSWORD:<input type="password" name="pass"/><br><br>
      <button type="submit" >Login</button>
      {% if error %}
         Error :{{error}}
         {% endif%}



      </form>
   </div>
</html>