{% extends 'masteroutlay_logout_image.html' %}
    {% block heading %}Update details of existing subscriber{% endblock %}
    {% block update_newsubmitter %}
        <form  action="{{url_for('updatesubmitter_curator')}}" method="post">
            {% for item in details %}
                <div class="form-group">
                    <div class="col-sm-5 pull-left">
                        <label>Name:</label>
                        <input type="text" id="name" name="name" class="form-control">
                        <label>Email id:</label>
                        <input type ="email" id="email" name="email" value="{{item.email}}" class="form-control">
                        <label>Contact number:</label>
                        <input type="number" id="contactnumber" name="contactnumber" class="form-control">
                        <label>Designation:</label>
                        <input type="text" id="designation" name="designation" class="form-control">

                        <label>List Role:</label>
                        <div style="margin-bottom: 15px;" >
                        {% if item.listrole == 'Curator' %}
                        <input type="radio" name="role" value="Subscriber"  >Subscriber
                        <input type="radio" name="role" value="Submitter">Submitter
                        <input type="radio" name="role"  value="Curator" checked >Curator
                        {% elif item.listrole == 'Submitter'  %}
                        <input type="radio" name="role" value="Subscriber">Subscriber
                        <input type="radio" name="role" value="Submitter" checked>Submitter
                        <input type="radio" name="role" value="Curator">Curator
                        {% else %}
                        <input type="radio" name="role" value="Subscriber" checked>Subscriber
                        <input type="radio" name="role" value="Submitter">Submitter
                        <input type="radio" name="role" value="Curator">Curator
                        {% endif %}
                        </div>

                        <label>Password:</label>
                        <input type="password" id="password" name="password" class="form-control">
                        <input type="hidden" name="userid" value="{{item.userid}}">
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
             <div class="btn-container">
                <button type="button" onclick="history.go(-1)" class="btn btn-info btn-lg">Back</button>
                <button type="submit" class="btn btn-info btn-lg">Update</button>
             </div>
        </form>
    {% endblock %}