{% extends 'masteroutlay_logout_image.html' %}
    {% block heading %}Your suggestions are always welcomed{% endblock %}
    {% block submitter_suggestlink %}

            <form action="{{url_for('submittersuggestions_method')}}" method="post" >
                <div class="col-sm-8">
                    <div class="col-sm-7 form-group pull-left">
                        <label>Title:</label>
                        <input type="text" name="title" id="titleid" class="form-control">
                        <label>Url:</label>
                        <input type="url" name="url" id="urlid" class="form-control">
                        <label>List:</label>
                        <select name="listname" class="form-control">
                            <option>Content writer</option>
                            <option>SEO</option>
                            <option>Developer</option>
                            <option>Graphic designer</option>
                            <option>UI/UX</option>
                            <option>Database</option>
                            <option>Digital marketing manager</option>
                        </select>
                        <label>Description:</label>
                        <!--textarea is for multiline input -->
                        <textarea cols="50" name="description" class="form-control"></textarea>
                    </div>
                    </div>
                    <div class="btn-container">
                        <button type="button" onclick="history.go(-1)" class="btn btn-info btn-lg">Back</button>
                        <input type="submit" value="Send" class="btn btn-info btn-lg">
                    </div>
            </form>
    {% endblock %}