<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suggest link</title>
</head>
<body>
    <section>
        <div>
            <form action="" method="post" >
                <div align="right"><a href="{{url_for('firstpage')}}">Logout</a> </div>
                <div style="text-align:center;margin-top:10%">
                    <h1>Enter link to send to the curator</h1>
                    Url:<input type="url">
                    <input type="submit" value="Send">
                </div>

            </form>
        </div>
    </section>
</body>
</html>