<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
{% extends 'masteroutlay_logout.html' %}
    {% block heading %}Welcome {% for item in details %}{{item.user_name}}{% endfor %}{% endblock %}
    {% block submitter_options %}
        <form  style="margin-top: 30px;margin-bottom: 50px">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" style="background-color: black;padding-top: 10px;padding-bottom: 10px;">
                    <div align="center" class="col-sm-4 corsoptions"><a href="{{url_for('suggest_link')}}"  style="color:#f3b01b;text-decoration: none;"><i class="fa fa-external-link-square fa-5x " aria-hidden="true"></i><br>Suggest links to the curator</a>
                    </div>
                    <div class="col-sm-4"></div>
                    <div align="center" class="col-sm-4 corsoptions">
                    <a href="{{url_for('detail')}}"  style="color:#f3b01b;text-decoration: none;"><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i><br>Update profile</a>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}