<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submitteroptions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <section>
        <div align="right"><a href="">Logout</a> </div>
        <div style="width:60%;margin-top:10%;margin-left:32%">
            <div style="float:left;padding:5%">
                <a href=""><i class="fa fa-external-link-square fa-5x " aria-hidden="true" style="margin-left:30%" ></i><br>Suggent links to the curator</a>
            </div>
            <div style="float:left;padding:5%">
                <a href=""><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true" style="margin-left:15%" ></i><br>Update profile</a>
            </div>
        </div>
    </section>

</body>
</html>