<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUBSCRIPTION</title>
    <style>
        ul li{list-style:none}
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section class="container-fluid">
        <a href="{{ url_for('admin_login') }}" style="float:right">ADMIN</a>

        <div  align="center" style="width:100%">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
            <div class="alert alert-info">
                    <ul>
                        {% for message in messages %}
                        {{message}}<br>
                        {% endfor %}
                    </ul>
            </div>
                {% endif %}
            {% endwith %}



            <form action="{{url_for('new_subscription')}}" method="post">
                <h1>WELCOME TO THE WEEKLY MAILER</h1>
                Email:<input type="email" name="emailid" id="eid"><br><br>
                <h2>Please select the topic of your interest : </h2><br>
                <div style="width:40%;text-align:center">
                    <div style="width:50%;float:left;text-align:left" >
                        <ul>
                            <li><input type="checkbox" name="developer" value="Developer">Developer</li><br><br>
                            <li><input type="checkbox" name="contentwriter" value="Contentwriter">Content Writer</li><br><br>
                            <li><input type="checkbox" name="SEO" value="SEO">Search Engine Optimization</li><br><br>
                            <li><input type="checkbox" name="DMM" value="DMM">Digital Marketing Manager</li><br><br>
                        </ul>

                    </div>
                    <div style="width:50%;float:left;text-align:left" >
                        <ul>
                            <li><input type="checkbox" name="UI/UX" value="UIUX">UI/UX</li><br><br>
                            <li><input type="checkbox" name="GD" value="GraphicDesigner">Graphic Designer</li><br><br>
                            <li><input type="checkbox" name="database" value="Database">Database</li><br><br>
                        </ul>
                    </div>
                    <div style="clear:both"></div>
                    <input type="submit" name="submit" value="SUBMIT" class="btn btn-info btn-lg">
                </div>


            </form>


        </div>
    </section>



</body>
</html>