<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUBSCRIPTION</title>
    <style>
        ul li{list-style:none}
    </style>
</head>
<body>
    <section>
        <a href="http://localhost:63342/virflask/templates/adminlogin.html" style="float:right">ADMIN</a>
        <div align="center" style="width:100%">
            <form>
                <h1>WELCOME TO THE WEEKLY MAILER</h1>
                Email:<input type="email" name="emailid" ><br><br>
                <h2>Please select the topic of your interest : </h2><br>
                <div style="width:40%;text-align:center">
                    <div style="width:50%;float:left;text-align:left" >
                        <ul>
                            <li> <input type="checkbox" name="developer">Developer</li><br><br>
                            <li><input type="checkbox" name="contentwriter" >Content Writer</li><br><br>
                            <li><input type="checkbox" name="SEO" >Search Engine Optimization</li><br><br>
                            <li><input type="checkbox" name="DMM" >Digital Marketing Manager</li><br><br>
                        </ul>

                    </div>
                    <div style="width:50%;float:left;text-align:left" >
                        <ul>
                            <li><input type="checkbox" name="UI/UX">UI/UX</li><br><br>
                            <li><input type="checkbox" name="GD">Graphic Designer</li><br><br>
                            <li><input type="checkbox" name="database">Database</li><br><br>
                        </ul>
                    </div>
                    <div style="clear:both"></div>
                    <input type="submit" name="submit" value="SUBMIT">
                </div>


            </form>


        </div>
    </section>



</body>
</html>