{% extends 'masteroutlay.html' %}
            {%block heading %}WELCOME TO THE WEEKLY MAILER{% endblock %}
            {% block subscribe %}
            <form action="{{url_for('new_subscription')}}" method="post">
               <div class="col-sm-8">
                   <div class="form-group col-sm-10 pull-left">
                   <label> Email:</label>
                   <input type="email" class="form-control" name="emailid" id="eid">
                   </div>
               <div class="clearfix"></div>
               <div class="row pull-left col-sm-12">
                   <h2>Please select the topic of your interest : </h2>
               </div>
                <div class="clearfix"></div>
                <div class="checkbox">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="checkbox-inline"><input type="checkbox" name="developer" value="Developer">Developer</label>
                            <div class="clearfix"></div>
                            <label class="checkbox-inline"><input type="checkbox" name="contentwriter" value="Contentwriter">Content Writer</label>
                       <div class="clearfix"></div>
                        <label class="checkbox-inline"><input type="checkbox" name="SEO" value="SEO">Search Engine Optimization</label>
                        <div class="clearfix"></div>
                        <label class="checkbox-inline "><input type="checkbox" name="database" value="Database">Database</label>
                        </div>
                        <div class="col-sm-6">
                        <label class="checkbox-inline"><input type="checkbox" name="UI/UX" value="UIUX">UI/UX</label>
                        <div class="clearfix"></div>
                        <label class="checkbox-inline "><input type="checkbox" name="GD" value="GraphicDesigner">Graphic Designer</label>
                        <div class="clearfix"></div>
                        <label class="checkbox-inline "><input type="checkbox" name="DMM" value="DMM">Digital Marketing</label>
                        </div>
                        </div>
                </div>
                </div>
                <div class="btn-container"><input type="submit" name="submit" value="SUBMIT" class="btn btn-info btn-lg"></div>
                    </form>
          {% endblock %}