<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update first page</title>
</head>
<body>
    <section>
        <div align="center" style="margin-top:10%">
            <form action="{{url_for('assign_newsubmittermethod') }}" method="post">
                <h1>
                    UPDATE DETAILS
                </h1>
                Enter the id whose details are to be updated :<input type="email" name="email">

            </form>
        </div>
    </section>
</body>
</html>