{% extends 'masteroutlay_logout_image.html' %}
    {% block heading %}Update Profile{% endblock %}
            {%block updateprofile_curator %}
            <form action="{{url_for('curatorupdateprofile_submitclick')}}" method="post">
                    {%for item in details%}
                        <div class="form-group">
                            <div class="col-sm-5 pull-left">
                            Name:
                            <input type="text" id="name" name="name" value="{{item.user_name}}" class="form-control">
                            Email id:
                            <input type ="email" id="email" name="email"   value="{{item.email}}" class="form-control">
                            Contact number:
                            <input type="number" id="contactnumber" name="contactnumber" value="{{item.phoneno}}" class="form-control">
                            Designation:
                            <input type="text" id="designation" name="designation" value="{{item.company_designation}}" class="form-control">
                            Role:
                            <input type="text" id="listrolecur" name="listrole" value="{{item.list_role}}" class="form-control" readonly>
                            Password:
                            <input type="password" id="password" name="password" value="{{item.password}}" class="form-control">
                            <input type="hidden" name="userid" value="{{item.user_id}}">
                            </div>
                        </div>
                    {%endfor%}
                    <div class="clearfix"></div>
                    <div class="btn-container">
                        <button type="button" onclick="history.go(-1)" class="btn btn-info btn-lg">Back</button>
                        <button type="submit" class="btn btn-info btn-lg">Update</button>
                    </div>
            </form>
            {% endblock %}