<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
</head>
<body>
    <section>
        <div>
            <form action="{{url_for('curatorupdateprofile_submitclick')}}" method="post">
                <div align="right"><a href="{{url_for('firstpage')}}">Logout</a> </div>
                <h1 style="text-align:center">UPDATE PROFILE</h1>
                <div style="text-align:right;width:60%">
                    {%for item in details%}
                        Name:
                        <input type="text" id="name" name="name" value="{{item.user_name}}"><br><br>
                        Email id:

                        <input type ="email" id="email" name="email"   value="{{item.email}}"><br><br>
                        Contact number:
                        <input type="number" id="contactnumber" name="contactnumber" value="{{item.phoneno}}"><br><br>
                        Designation:
                        <input type="text" id="designation" name="designation" value="{{item.company_designation}}"><br><br>
                        Role:
                        {% if item.list_role == 'Curator' %}
                        <input type="text" id="listrolecur" name="listrole" value="{{item.list_role}}"><br><br>
                        {% else %}
                        <input type="text" id="listrolesub" name="listrole" value="{{item.list_role}}" readonly><br><br>
                        {% endif %}
                        Password:
                        <input type="password" id="password" name="password" value="{{item.password}}"><br><br>

                </div>
                <div align="center">
                     <input type="submit" value="UPDATE" id="update">
                </div>
                <input type="hidden" name="userid" value="{{item.user_id}}">
                {%endfor%}
            </form>
        </div>
    </section>



</body>
</html>